#containerh1{
    height: 20vh;
}
body{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/optional_banner_4.jpg);
    background-size: cover;
    min-height: 70vh;
}
main{
    flex-grow: 1;
}
.navbar-nav a:hover, .card a:hover{
    background-color: white;
    color: black !important;
}
.details{
max-width: 800px;
}
